<% @projets.each do |projet| %>
  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
    <div class="card">
      <% if projet.title.chars.count > 25 %>
        <h3><%=projet.title.chars.take(22).join + "..."  %></h3>
      <% else %>
      <h3><%=projet.title %></h3>
      <%end%>
      <h3><%=projet.city %></h3>
      <p><%=projet.created_at.strftime("%m/%d/%Y")%></p>
      <%= link_to "voir", projet_path(projet.id) %>
    </div>
  </div>
<% end %>
