<div class="container">
  <h1><%= @projet.title %></h1>
  <p><%= @projet.description %></p>
  <p><%= @projet.city %></p>

  <%= link_to "Editer", edit_projet_path(@projet) %>
  <%= link_to "Effacer", projet_path(@projet), method: :delete, data: { confirm: "Anthony ? T'es sur de vouloir l'effacer ?"} %>
  <% @projet.photos.each do |photos| %>
  <%= cl_image_tag photos.path, width: 300, height: 200, crop: :fill %>
<% end %>
</div>
