<div class="banner_show_projet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @projet.vignette.path %>')">
  <h1><%= @projet.title %></h1>
  <h5><%= @projet.city %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="new">
        <% if user_signed_in? %>
          <%= link_to "Editer", edit_projet_path(@projet), class: 'btn btn-success' %>
          <%= link_to "Effacer", projet_path(@projet), class: 'btn btn-danger', method: :delete, data: { confirm: "Etes vous sur de vouloir l'effacer ?"} %>
        <% end %>
      </div>
      <!-- <div class="infos">
        <p>Nom du projet : <%= @projet.title %></p>
        <p>Ville : <%= @projet.city %></p>
      </div> -->
      <div class="description">
      <p>Description : <%= @projet.description %></p>
      </div>
      <% @projet.photos.each do |photos| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <%= link_to cl_image_tag(photos.path), cl_image_path(photos.path), :rel => "lightbox", data: { lightbox: "set" } %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% @projet.photos do |photos| %>
    <%= link_to(image_tag(attachment_url(photo, :image, :fit, 100, 100, format: 'jpg')), attachment_url(photo, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: photo.name }) %>
  <% end %>






