<div class="banner_show_projet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @projet.vignette.path %>')">
  <h1><%= @projet.title %></h1>
  <h5><%= @projet.city %></h5>
  <div class="pn-project">
    <%= link_to("", @projet.previous, class: "fa fa-chevron-left") if @projet.previous %>
    <%= link_to("", @projet.next, class: "fa fa-chevron-right") if @projet.next %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="new">
        <% if user_signed_in? %>
          <%= link_to "Editer", edit_projet_path(@projet), class: 'btn btn-success' %>
          <%= link_to "Effacer", projet_path(@projet), class: 'btn btn-danger', method: :delete, data: { confirm: "Etes vous sur de vouloir l'effacer ?"} %>
        <% end %>
      </div>
      <div class="description">
        <p><%= @projet.description %></p>
      </div>



      <div id="brick">
        <% @projet.photos.each do |photos| %>
        <div class="box">
          <%= link_to cl_image_tag(photos.path), cl_image_path(photos.path), :rel => "lightbox", data: { lightbox: "set", title: @projet.title } %>
        </div>
      <% end %>
      </div>


    </div>
  </div>
</div>








