<div class="banner_show_projet" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @projet.vignette.path %>')">
  <% @projet.rank %>
  <h1><%= @projet.title %></h1>
  <h5><%= @projet.city %></h5>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="new">
        <% if user_signed_in? %>
          <%= link_to "Editer", edit_projet_path(@projet), class: 'btn btn-success' %>
          <%= link_to "Effacer", projet_path(@projet), class: 'btn btn-danger', method: :delete, data: { confirm: "Etes vous sur de vouloir l'effacer ?"} %>
        <% end %>
      </div>
      <div class="description">
        <p><%= @projet.description %></p>
      </div>



      <div id="brick">
        <% @projet.photos.each do |photos| %>
        <div class="box">
          <%= link_to cl_image_tag(photos.path), cl_image_path(photos.path), :rel => "lightbox", data: { lightbox: "set", title: @projet.title} %>
        </div>
      <% end %>
      </div>

      <div class="next">
        <% if @projet.next %>
          <% link_to @projet.next do %>
            <%= cl_image_tag(@projet.next.vignette.path) %>
          <% end %>
        <%end%>
        <% if @projet.next == nil %>
          <% link_to @projet.first do %>
            <%= cl_image_tag(@projet.first.vignette.path) %>
          <% end %>
        <%end%>
      </div>

    <div class="previous">
      <% if @projet.previous %>
        <% link_to @projet.previous do %>
          <%= cl_image_tag(@projet.previous.vignette.path) %>
        <% end %>
      <%end%>
      <% if @projet.previous == nil %>
        <% link_to @projet.last do %>
          <%= cl_image_tag(@projet.last.vignette.path) %>
        <% end %>
      <%end%>
    </div>

    <div class="box-prev-next" style="margin-top: 40px">
        <% if @projet.previous %>
          <%= link_to "< Précédent", @projet.previous, :class => 'btn-voir'%>
        <%end%>
        <% if @projet.previous == nil %>
          <%= link_to "< Précédent", @projet.last, :class => 'btn-voir'%>
        <%end%>
        <% if @projet.next %>
          <%= link_to "Suivant >", @projet.next, :class => 'btn-voir'%>
        <%end%>
         <% if @projet.next == nil %>
          <%= link_to "Suivant >", @projet.first, :class => 'btn-voir'%>
        <%end%>
    </div>

    </div>
  </div>
</div>








