<header id="main-navigation">
  <%= link_to root_path, class: "logo-head" do %>
    <%= image_tag "Logosanstexte.png" %>
  <% end %></a>
    <div class="nav-right hidden-xs">
      <%= link_to projets_path do %>
        <i class="fa fa-book"></i> <%= t ".", default: "Projets" %>
      <% end %>
      <%= link_to prestations_path do %>
        <i class="fa fa-paper-plane"></i> <%= t ".", default: "Préstations" %>
      <% end %>
       <%= link_to philosophie_path do %>
        <i class="fa fa-spinner"></i> <%= t ".", default: "Philosophie" %>
      <% end %>
      <%= link_to new_contact_path do %>
        <i class="fa fa-envelope"></i> <%= t ".", default: "Contact" %>
      <% end %>
      <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Deconnexion" %>
      <% end %>
      <% end %>
    </div>
    <div class="dropdown visible-xs">
      <i class="fa fa-bars dropdown-toggle" id="menu-dropdown" data-toggle="dropdown"
       aria-expended="true" aria-haspopup="true"></i>
       <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="menu-dropdown">
       <li><%= link_to projets_path do %>
        <i class="fa fa-book"></i> <%= t ".", default: "Projets" %>
      <% end %></li>
       <li><%= link_to prestations_path do %>
        <i class="fa fa-paper-plane"></i> <%= t ".", default: "Préstations" %>
      <% end %></li>
       <li><%= link_to philosophie_path do %>
        <i class="fa fa-spinner"></i> <%= t ".", default: "Philosophie" %>
      <% end %></li>
       <li><%= link_to new_contact_path do %>
        <i class="fa fa-envelope"></i> <%= t ".", default: "Contact" %>
      <% end %></li>
      <% if user_signed_in? %>
      <li><%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Deconnexion" %>
      <% end %></li>
      <% end %>
       </ul>
    </div>
</header>
</div>
