<% content_for :meta_title, "Agence - IDA" %>
<% content_for :meta_description, "IDA est une agence d’architecture d’intérieure et de design qui vous escorte dans vos projets personnels et professionnels" %>
<% content_for :meta_image, image_tag("agence.jpg")%>


<div class="banner_pages" style="background-image: url(<%= image_path 'agence.jpg' %>)">
  <h1>Agence</h1>
</div>

<div class="container" style="text-align: center; margin-top: 30px; margin-bottom: 40px">

  <div class="container">
    <div class="row">
      <div class="wrapper" style="padding-top: 0px; margin-top: 35px;">
        <div class="container" style="text-align: center; margin-top: 0px; padding-top: 0px; margin-bottom: 20px">
          <h1 style="margin-top: 0px;">Intérieur, Design & Architecture</h1>
          <p>IDA est une agence d’architecture d’intérieure et de design qui vous escorte dans vos projets personnels et professionnels
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper" style="padding-top: 0px; text-align: center; padding-bottom: 0px;">
    <div class="box-portrait">
      <%= image_tag 'portrait_anthony.jpg' %>
    </div>
    <span style="text-align: center">
      <p>Fondée par Anthony GUYOT, architecte d’intérieur diplômé et en exercice depuis 2011, IDA sublime votre projet en puisant son inspiration dans les tendances, les atmosphères quotidiennes, les voyages, l’héritage des traditions mais aussi et surtout dans votre inventivité.</p>

    <p>IDA vous accompagne ainsi tant dans des réalisations aux styles affirmés que dans des réalisations intemporelles.<br><br></p>
    </span>
</div>
  <div class="wrapper" style="padding-top: 0px; text-align: center;">
    <div class="progression" style="padding-top: 0px; text-align: center;">
      <div class="col-xs-12 col-lg-4">
        <%= link_to image_tag("esquisse.jpg"), image_path("esquisse.jpg"), :rel => "lightbox", data: { lightbox: "set", title: "Esquisse"} %>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= link_to image_tag("plans.jpg"), image_path("plans.jpg"), :rel => "lightbox", data: { lightbox: "set", title: "Plans"} %>
      </div>
      <div class="col-xs-12 col-lg-4">
        <%= link_to image_tag("3D.jpg"), image_path("3D.jpg"), :rel => "lightbox", data: { lightbox: "set", title: "3D"} %>
      </div>
    </div>
  </div>


      <p>Les plans, esquisses et visualisations 3D permettent d'appuyer les échanges avec la rigueur d'un support imagé. La phase de création s’achève par une visite virtuelle de votre espace, où un large choix de matériaux, d’objets et de meubles donne peu à peu vie à votre projet avant la réalisation des travaux par une équipe d’artisans soigneusement sélectionnés.</p>

</div>

<%= render 'shared/frame_contact' %>
