<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="logo-home">
    <%= image_tag 'logo-home.png' %>
  </div>
    <div class="arrow-down">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
      <% @projets.each do |projet| %>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
          <%= link_to projet_path(projet.friendly_id), class: "card-link" do %>
            <div class="square-test-home" style="background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2)), url(<%= cl_image_path(projet.vignette.path) %>)">
              <div class="title-test">
                <% if projet.title.chars.count > 25 %>
                  <h3><%=projet.title.chars.take(20).join + "..."  %></h3>
                <% else %>
                  <h3><%=projet.title %></h3>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
