<div class="wrapper-home" style="background-image: url(<%= image_path 'home1.jpg' %>)">
  <div class="logo-home">
    <%= image_tag 'logo-home.png' %>
  </div>
    <div class="arrow-down">
      <i class="fa fa-arrow-down" aria-hidden="true"></i>
    </div>
</div>

<div class="container" style="text-align: center; margin-top: 50px;">
    <h2>I D A</h2>
    <h1><strong>I</strong>ntérieur, <strong>D</strong>esign & <strong>A</strong>rchitecture</h1>
    <p>IDA est une agence d’architecture d’intérieur et de design qui  vous escorte dans vos projets personnels et professionnels, en intérieur comme en extérieur.</p>
</div>

<div class="banner_pages" style="background-image: url(<%= image_path 'projets.jpg' %>)";>
  <h1>Projets</h1>
</div>

<div class="container">
  <div class="row">
    <div class="wrapper">
        <% @projets.each do |projet| %>
          <% if projet.rank <= 3 %>
            <div class="col-xs-12 col-lg-4">
              <%= link_to projet_path(projet.friendly_id), class: "card-link" do %>
                <div class="square-test-home" style="background-image: linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.2)), url(<%= cl_image_path(projet.vignette.path) %>)">
                  <div class="title-test">
                    <% projet.rank %>
                    <% if projet.title.chars.count > 25 %>
                      <h3><%=projet.title.chars.take(20).join + "..."  %></h3>
                    <% else %>
                      <h3><%=projet.title %></h3>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <%end%>
        <% end %>
    </div>
  </div>
</div>
<div class="container" style="text-align: center; margin-top: 0px;">
    <%= link_to "Voir plus de projets", projets_path, :class => 'btn-voir'%>
</div>

<div class="banner_pages" style="background-image: url(<%= image_path 'prestations.jpg' %>)";>
  <h1>L'agence</h1>
</div>

<div class="container" style="text-align: center; margin-top: 20px; margin-bottom: 17px">
  <div class="box-portrait" style="margin-top: 20px">
    <%= image_tag 'portrait_anthony.jpg' %>
  </div>
  <p>Fondée par Anthony GUYOT, architecte d’intérieur diplômé et en exercice depuis 2011, IDA sublime votre projet en puisant son inspiration dans les tendances, les atmosphères quotidiennes, les voyages, l’héritage des traditions mais aussi et surtout dans votre inventivité. <br>IDA vous accompagne ainsi tant dans des réalisations aux styles affirmés que dans des réalisations intemporelles.
</p>
</div>
<div class="container" style="text-align: center; margin-top: 0px; margin-bottom: 40px;">
    <%= link_to "En savoir plus", agence_path, :class => 'btn-voir'%>
</div>

<div class="frame_contact" style="background-image: url(<%= image_path 'map-globe.jpg' %>)";>
  <div class="opa" style ="z-index: 1;">
    <%= image_tag 'opa.png' %>
  </div>
  <div class="content-contact" style ="z-index: 2;">
  <span style="float: left; text-align: left;">
    <h1>CONTACT</h1>
    <h4>IDA / Intérieur, Désign & Architecture</h4>
    <p>54 rue des petites filles<br>
    44560 La Baule<br>
    Loire - Atlantique<br>
    France<br>
    Tél : 02 40 34 90 45
    </p>
    <%= link_to "Contact", new_contact_path, :class => 'btn-contact'%>
  </span>
  </div>
</div>




